.about{
    width:100%;
    margin:3rem 0;
    display:flex;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.about-left{
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 1rem;
}
.about-left p{
    margin: 1.2rem 0;
}
.about-right{
    max-width: 700px;
}
.img-container{
    width:300px;
    height: 400px;
    margin-right: 150px;
   
}
.about-right .img{
 max-width: 90%;
 border: 1px solid #333;
 border-radius: 25px;
 


}
@media screen and (max-width:640px){
    .img-container{
        width:300px;
        height: 400px;
        margin-left: 200px;

    }}